- content_for :page_header do
  Listagem de estudantes
  .pull-right
    = link_to "Novo estudante", new_student_path, class: "btn btn-primary"

%table.table
  %thead
    %tr
      %td #
      %td Nome
      %td Ações
  %tbody
    = render @students