- content_for :page_header do
  Listagem de estudantes
  .pull-right
    = link_to "Novo estudante", new_student_path, class: "btn btn-primary"

- breadcrumb :students

%table.table
  %thead
    %tr
      %th(width="10%") #
      %th(width="70%") Nome
      %th(width="20%")
  %tbody
    - unless @students.empty?
      = render @students
    - else
      %tr
        %td(colspan="3") Não existem estudantes cadastrados. Deseja #{link_to "cadastrar", new_student_path} agora?

= paginate @students