%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#nc-navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Navegação
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Cadastro de estudantes", students_path, class: "navbar-brand"

    #nc-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Estudantes", root_path
        %li
          = link_to "Cursos", courses_path