.col-md-4
  - unless content_for?(:sidebar)
    .well
      %h4 Buscar no site
      .input-group
        = simple_form_for :search, url: "#", method: :get do |f|
          = f.input :q, label: false, input_html: { name: "q", value: params[:q] }
          %span.input-group-btn
            %button.btn.btn-default{:type => "submit"}
              %span.glyphicon.glyphicon-search

    .well
      %h4 Categorias
      .row
        .col-lg-6
          %ul.list-unstyled
            %li Não existem categorias cadastradas.
  - else
    = yield( :sidebar )