- content_for :page_header do
  Listagem de cursos
  .pull-right
    = link_to "Novo curso", new_course_path, class: "btn btn-primary"

- breadcrumb :courses

%table.table
  %thead
    %tr
      %th(width="10%") #
      %th(width="70%") Nome
      %th(width="20%")
  %tbody
    - unless @courses.empty?
      = render @courses
    - else
      %tr
        %td(colspan="3") Não existem cursos cadastrados. Deseja #{link_to "cadastrar", new_course_path} agora?

= paginate @courses